<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header text-white bg-dark">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <h3>Myオススメ度(平均)：<%=@user.reviews.average(:score)%></h3>
    <h3>Myプレイ時間(平均)：<%=@user.reviews.average(:playtime)%> 時間</h3>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">My Reviews <span class="badge badge-secondary"><%= @count_mygames %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">Favorite Games  <span class="badge badge-secondary"><%= @count_favorites %></span></a></li>
    </ul>
    
    <%= render 'games/games', games: @user.favorite_games %>
  </div>
</div>